<div class="min-h-screen space-y-10 divide-y divide-gray-900/10">
  <div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">

    <div class="px-4 sm:px-0 col-span-3">
      <h2 class="text-base/7 font-semibold text-gray-900">Editar Función</h2>
      <p class="mt-1 text-sm/6 text-gray-600">Este Función se editará con los datos proporcionados.</p>
    </div>

    <%= render "form", group: @group %>
  </div>
</div>
