<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Editar Horarios</h1>
      <p class="mt-2 text-sm text-gray-700">Modifica los detalles del horario seleccionado, incluyendo la fecha, hora de entrada, hora de salida y función asignada.</p>
    </div>
  </div>
</div>

<div class="mt-4">
  <%= render "form", schedule: @schedule %>
</div>