<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Nuevo Grupo con Horarios</h1>
      <p class="mt-2 text-sm text-gray-700">Crea un grupo con múltiples horarios asignados, incluyendo días de la semana, horas de entrada y salida.</p>
    </div>
  </div>
</div>

<div class="mt-4">
  <%= render "form", group: @group %>
</div>