<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= @payroll.employee.full_name %> - Tarjeta de Horario</title>
  <style>
    <%= Net::HTTP.get(URI("https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css")) %>
  </style>
</head>
<body>
  asdfasfdasfdaf
  <div class="container">
    <%= yield %>
    asfdsaf
  </div>
  asdfsadf
</body>
</html>
